.list-item, .input-section{
    display:grid;
    grid-template-columns:350px 350px 150px;
}

input,.list-item p{
    margin:10px 15px;
    font-size: 1.5rem;
    width:300px;
    text-align: center;
}

button{
    width:125px;
    height:60px;
    font-size: 1.5rem;
    margin:10px 15px;
}

h1{
    text-align: center;
    width:850px;
}

.add-button{
    background-color: limegreen;
    color:white;
    border:none;
    box-shadow: none;
    outline: none;
}

.delete-button{
    background-color: red;
    color: white;
    border:none;
}